<h2 *ngIf="!course">No course with id</h2>

<div *ngIf="course">
  <h2>Course: </h2>

  <div class="course-detail">
    <div>Title: {{course.title}}</div>
    <div>Description: {{course.description}} </div>

    <div *ngIf="course.prerequisite">Prerequisites:
      {{course.prerequisite.id}}
      {{course.prerequisite.title}}
      {{course.prerequisite.description}}
    </div>
  </div>

  <div>
    <h3>Register for course:</h3>

    <div class="row">
      <div class="column"><label for="startSelect">Beginn: </label></div>
      <div class="column">
        <select id="startSelect" [(ngModel)]="cplId">
          <option *ngFor="let cpl of coursePlanList" value="{{cpl.id}}">{{cpl.start | date:'d.MM.y'}} </option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="column">
        <label for="firstname">Firstname: </label>
      </div>
      <div class="column">
        <input [(ngModel)]="firstname" id="firstname">
      </div>
    </div>

    <div class="row">
      <div class="column">
        <label for="lastname">Lastname: </label>
      </div>
      <div class="column">
        <input [(ngModel)]="lastname" id="lastname">
      </div>
    </div>

    <div class="row">
      <button (click)="register()">Register</button>
    </div>
  </div>

</div>
